#menu {
    display: none;
}

#hdrlg {
    height: 60px;
    width: 60px;
    margin-right: 12px;
    margin-left: 150px;
}

#hdrtx {
    font-size: 35px;
}

#header-isimarea {
    margin-right: auto;
}
#içerikler{margin-top: 110px;}

#butonlar {
    margin-right: 150px;
    display: flex;
}

#header {
    height: 80px;

}

.filtre-buton {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 20px;
    width: 198px;
    text-align: center;
}

.filtre-buton:hover {

    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(20, 20, 20);
}

#içerik-başlık {
    font-size: 30px;
    margin: 105px 0px 25px 150px;

}

#end {
    height: 400px;
}

.wallpaper {
    margin: 0px 25px 50px 25px;
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.wallpaper-dikey {
    width: 375px;
    height: 750px;
}

.wallpaper-yatay {
    width: 1305px;
    height: 750px;
}

.bilgi {
    margin-bottom: 15px;
}

.bilgi-link {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bilgi-icon {
    height: 40px;
    width: 40px;
}

#kisisel {
    margin-left: 150px;
    margin-right: 150px;

}

#popup{
    flex-direction: row;
    border-radius: 50px;
    margin: 10% 20%;
    height: 70%;
    width: 60%;

}

#popup-img{
    height: 600px;
    width: 300px;
    border-radius: 25px;
}
#popup-yan{
    margin-left: 100px;
}
#popup-isim{
    font-size: 30px;
    margin-bottom: 200px;
}
#popup-indir-buton{
    margin-bottom: 10px;
}
.indir{
    font-size: 20px;
    border: 1px solid rgb(21, 21, 21);
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 220px;
    text-align: center;
}
