
    #menu{display: none;}
    
    #hdrlg{
    height: 50px;
    width: 50px;
    margin-right: 30px;
    margin-left: 150px;
    }
    
    #hdrtx{
        font-size: 35px;
    }

    #header-isimarea{
        margin-right: auto;
    }

    #butonlar{
        margin-right: 150px;
        display: flex;
    }
    
    #header{
        height: 80px;
        
    }

    .filtre-buton{
        font-size: 20px;
        border: 1px solid white;
        border-radius: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 20px;
        width: 198px;
        text-align: center;               
    }

    .filtre-buton:hover{

        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        color: rgb(26, 26, 26);
    }

    #içerik-başlık{
        font-size: 30px;
        margin: 105px 0px 25px 150px;

    }
    
    #içerik-indir{
        font-size: 25px;
        padding: 15px 30px 15px 30px;
        margin-bottom: 50px;
        width: 250px;
    }
        
    #end{
        height: 350px;
    }

    .wallpaper{
        margin: 0px 25px 50px 25px;
        border: 20px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
    }

    .wallpaper-dikey{    
    width: 375px;
    height: 750px;
    }

    .wallpaper-yatay{
    width: 1305px;
    height: 750px;
    }  

    .bilgi{
        margin-bottom: 15px;
    }

    .bilgi-link{
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bilgi-icon{
        height: 40px;
        width: 40px;
    }

    #kisisel{
        margin-left: 150px;
    }

    #hesaplar{
        margin-right: 150px;
    }