
    #menu{display: none;}

    #hdrlg{
    height: 40px;
    width: 40px;
    margin-right: 30px;
    margin-left: 120px;
    }

    #hdrtx{
        font-size: 30px;
    }
    
    #header-isimarea{
        margin-right: auto;
    }

    #butonlar{
        margin-right: 120px;
        display: flex;
    }

    #header{
        height: 80px;
        
    }

    .filtre-buton{

        font-size: 20px;
        border: 1px solid white;
        border-radius: 5px;
        margin-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 148px;
        text-align: center;   
    }

    .filtre-buton:hover{

        border: 1px solid rgb(255, 255, 255);
        background-color: white;
        color: rgb(26, 26, 26);
    }
    
    #içerik-başlık{
        font-size: 25px;
        margin: 100px 0px 20px 120px;

    }
 
    #içerik-indir{
        font-size: 21px;
        padding: 15px 30px 15px 30px;
        margin-bottom: 50px;
        width: 200px;
    }

    #end{
            height: 300px;
    }

    .wallpaper{
        margin: 0px 25px 50px 25px;
        border: 20px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
    }

    .wallpaper-dikey{
        width: 250px;
        height: 500px;
    }

    .wallpaper-yatay{

        width: 930px;
        height: 500px;
    }

    .bilgi{
        margin-bottom: 15px;
    }

    .bilgi-link{
        font-size: 18px;
        margin-left: 9px;
        margin-right: 9px;
    }

    .bilgi-icon{
        height: 32px;
        width: 32px;
    }

    #kisisel{
        margin-left: 120px;
    }

    #hesaplar{
        margin-right: 120px;
    }