#menu {
    display: inline;
    height: 30px;
    width: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

#hdrlg {
    height: 35px;
    width: 35px;
    margin-right: 7px;
}

#hdrtx {
    font-size: 15px;
}

#header-isimarea {
    margin-right: auto;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#header {
    min-height: 50px;
    flex-direction: column;
}

#paper {
    margin-top: 70px;
}

#butonlar {
    margin-bottom: 10px;
    display: none;
}

.filtre-buton {

    font-size: 10px;
    padding: 4px 18px;
    border: 0.5px solid white;
    border-radius: 5px;
    margin-left: 15px;
}

.filtre-buton:hover {

    border: 0.5px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(20, 20, 20);
}

.collection-button{
    
    font-size: 12px;  
    margin-right: 14px;

    }

.başlık{

    margin-left: 25px;
    margin-bottom: 12px;
    margin-top: 12px ;
    font-size: 20px;


}

#içerik-başlık {
    font-size: 15px;
    margin: 75px 0px 12px 75px;
}

#içerik-indir {
    font-size: 8px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    width: 75px;
}

#end {
    height: 150px;
}

.wallpaper {
    margin: 0px 13px 25px 13px;
    border: 13px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.wallpaper-dikey {
    width: 130px;
    height: 260px;
}

.wallpaper-yatay {
    width: 312px;
    height: 156px;
}

.bilgi {
    margin-bottom: 6px;
}

.bilgi-link {
    font-size: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

.bilgi-icon {
    height: 20px;
    width: 20px;
}

#kisisel {
    margin-left: 30px;
    margin-right: 45px;

}


#popup {
    flex-direction: column;
    border-radius: 28px;
    margin: 10% 20%;
    height: 65%;
    width: 60%;
}

#popup-img {
    height: 300px;
    width: 150px;
    border-radius: 14px;
}

#popup-yan {
    margin-top: 40px;
}

#popup-isim {
    font-size: 12px;
    margin-bottom: 20px;
}

#popup-indir-buton {
    margin-bottom: 6px;
}

.indir {
    font-size: 12px;
    border: 1px solid rgb(21, 21, 21);
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 180px;
    text-align: center;
}